<html style="font-family: -apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,Roboto,&quot;Helvetica Neue&quot;,Arial,sans-serif;font-size: 16px;font-weight: 400;line-height: 1.5;-webkit-text-size-adjust: 100%;background: #fff;color: #666;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="margin: 0;">
<div class="uk-container" style="box-sizing: content-box;max-width: 1200px;margin-left: auto;margin-right: auto;padding-left: 15px;padding-right: 15px;">
    <br>
    <div class="uk-width-2-3@s uk-grid uk-text-center" style="display: flex;flex-wrap: wrap;margin: 0;padding: 0;list-style: none;margin-left: -30px;width: calc(100% * 2 / 3.001);text-align: center!important;">
        <div class="uk-text-center" style="margin: 0;padding-left: 40px;text-align: center!important;">
            <div>
                <img src="logo1.jpg" style="vertical-align: middle;max-width: 100%!important;height: auto;box-sizing: border-box;page-break-inside: avoid;">
                <hr style="box-sizing: content-box;height: 0;overflow: visible;text-align: inherit;margin: 0 0 20px 0;border: 0;border-top: 1px solid #e5e5e5;margin-top: 20px;">
                <h3 style="margin: 0 0 20px 0;font-family: -apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,Roboto,&quot;Helvetica Neue&quot;,Arial,sans-serif;font-weight: 400;color: #333;text-transform: none;margin-top: 40px;font-size: 1.5rem;line-height: 1.4;orphans: 3;widows: 3;page-break-after: avoid;">Witaj w Ubrani</h3>
            </div>
            <div>
                <p style="margin: 0 0 20px 0;orphans: 3;widows: 3;">
                    Dziękujemy za rejestrację w serwisie Ubrani. Od teraz możesz realizować u nas zakupy i spełniać swoje marzenia!
                </p>
            </div>
            <div>
                <br><hr style="box-sizing: content-box;height: 0;overflow: visible;text-align: inherit;margin: 0 0 20px 0;border: 0;border-top: 1px solid #e5e5e5;margin-top: 20px;"><br>
                <a class="uk-button uk-button-default" href="http://localhost:8081" style="-webkit-text-decoration-skip: objects;color: #333;text-decoration: none;cursor: pointer;margin: 0;border: 1px solid #e5e5e5;overflow: visible;font: inherit;text-transform: uppercase;display: inline-block;box-sizing: border-box;padding: 0 30px;vertical-align: middle;font-size: .875rem;line-height: 38px;text-align: center;transition: .1s ease-in-out;transition-property: color,background-color,border-color;background-color: transparent;">Sprawdź ofertę</a>
                <br><hr style="box-sizing: content-box;height: 0;overflow: visible;text-align: inherit;margin: 0 0 20px 0;border: 0;border-top: 1px solid #e5e5e5;margin-top: 20px;"><br>
            </div>
            <div style="margin-bottom: 0;">
                <p style="margin: 0 0 20px 0;orphans: 3;widows: 3;">Pozdrawiamy, zespół Ubrani</p>
            </div>
        </div>
    </div>
    <br style="margin-bottom: 0;">
</div>
</body>
</html>